
<ul class="thumbnails">
 {{#each []}}
  <li class="span4">
    <div class="thumbnail">
    <a class="thumbnail">
        <img data-src="holder.js/300x200" src="images/shop/{{this.ImageData}}" alt="">
    </a>
      <h3>{{this.Name}}</h3>
      <p>{{this.Description}}</p>
        {{#ifCostIsZero}}
           <p>€ {{this.Price}} - Nog {{this.remainingStock}} beschikbaar</p>

           <a href="#" data-id="{{this.id}}"  class="btn btn-purple">Toevoegen</a>
       {{else}}
           <p>Helaas niet meer beschikbaar :(</p>

      {{/ifCostIsZero}}

     </div>
 </li>
 {{/each}}
</ul>